html
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif
    line-height: 1.5
    font-size: 15px
    font-weight: 400

body
  padding: 0
  margin: 0
  background: $background-color

*, *:before, *:after
  box-sizing: border-box
  color:  #FFFFFF
ul 
    padding-left: 0
    margin-left: 0
    list-style-type: none
a
    text-decoration: none

.hilight-orange 
  color: #a88038 

.hilight-beige 
  color: #e1ca72 

.hilight-green 
  color: #74b087 

.hilight-purple 
  color: #9f8198 

.hilight-blue 
  color: #7a99ad 

.cursor 
  animation: blink 1s infinite 

@keyframes blink 
  0% 
    opacity: 0 
  50% 
    opacity: 0 
  51% 
    opacity: 1 
  100% 
    opacity: 1  
