
// Colors:

$background-color: #131417
// declare your variables for color
$sidebar-color: #2a293e
$light-Green:#49ED49
$light-Yellow:#e1fd0b
$light-purple:#fd0be1
$light-Blue:#0bc0fd
$light-Gray: #3f3f43

// Break Points:

$screen-sm-min: 576px

// Small tablets (portrait view)
$screen-md-min: 768px

// Tablets and small desktops
$screen-lg-min: 992px

// Large tablets and desktops
$screen-xl-min: 1200px

// Sidebar Font size 
$sidebar-font-size: 20px
