
// Colors:

$bg-color: #131417

$bg-color-gray: #444857
$bg-color-lightblack: #2c303a
$bg-code-card-color: #1d1e22
$bg-search-color: #252830
$bg-sidebar-color: #1f1f26

$button-border-color: #aaaebc
$color-button-gradient-green: #4fcf70
$color-button-gradient-yellow: #fad648
$color-button-gradient-purple: #a767e5
$color-button-gradient-blue: #12bcfe
$color-button-gradient-lightgreen: #44ce7b

$color-card-gradient-gray: #4c4f5a
$color-card-gradient-black: #202125

$color-product-item: #2c303a

$color-orange-hilight: #a88038
$color-beige-hilight: #e1ca72
$color-green-primary: #47cf73
$color-green-hilight: #74b087
$color-purple-hilight: #9f8198
$color-blue-hilight: #7a99ad
$color-blue-primary: #0ebeff
$color-gray-primary: #b7bbc8
$color-yellow-primary: #ffdd40