html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background: #131417;
}

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF;
}

li {
  list-style: none;
  font-size: 15px;
  text-align: left;
}

a:hover {
  cursor: pointer;
}

.l-flex {
  display: flex;
}

.l-align-center {
  align-items: center;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.l-sidebar {
  min-width: 188px;
}

.l-section {
  margin: 30px 0px;
}

.button:hover {
  opacity: 0.4;
  cursor: pointer;
}

.product-item-list-top {
  justify-content: center;
}

.product-item-list-mid {
  justify-content: center;
}

.product-item-list-bottom {
  justify-content: center;
}

.product-item-list-block {
  margin: 20px 15px;
  width: 360px;
  height: 340px;
  background: #2c303a;
}

.product-item-list-square {
  padding: 15px;
}
.product-item-list-square:hover {
  opacity: 0.4;
  cursor: pointer;
  transform: scale(1.1);
}

.product-item-list-Insquare-title {
  font-size: 1.1rem;
  font-weight: 900;
}

.product-item-list-Insquare-text {
  color: #b7bbc8;
}

.item-list-footer {
  margin-top: 20px;
}

.item-list-footer-text {
  padding: 10px 20px;
  border: solid 3px #aaaebc;
  border-radius: 3px;
  text-align: center;
}

.img-button img {
  width: 100%;
  object-fit: cover;
}

.product-item-list-icon {
  margin: 0;
  padding: 0;
}

.product-item-list-Name {
  padding-left: 16px;
  padding-bottom: 30px;
}

.img-icon img {
  width: 40px;
  height: 40px;
}

.product-item-list-footer-param {
  padding: 0.2rem;
  text-align: center;
  border-radius: 3px;
  border: solid 3px black;
  background: black;
  margin-left: 0.5rem;
}

.hero-right-header {
  justify-content: space-between;
}

.hero-right-title {
  font-weight: 700;
  margin: 0;
  padding-left: 10px;
}

.chevron-down-position {
  text-align: right;
}

.hero-right-text {
  margin-left: 5px;
}

.hero-right-text-css {
  margin: 0;
  font-size: 13px;
}

.text-css-2nd-Line {
  margin-left: 2rem;
}

.text-css-3to5nd-Line {
  margin-left: 4rem;
}

.hero-right-text-js {
  margin: 0;
  font-size: 13px;
}

.text-blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.text-orange {
  color: #a88038;
}

.text-yellow {
  color: #e1ca72;
}

.text-green {
  color: #74b087;
}

.text-purple {
  color: #9f8198;
}

.text-blue {
  color: #7a99ad;
}

.features {
  justify-content: center;
}

.features-block {
  margin: 20px 15px;
}

.features-icon {
  position: relative;
  left: 20px;
  top: 30px;
}

.features-icon-square {
  width: 64px;
  height: 64px;
  background: black;
  border-radius: 6px;
  font-size: 3rem;
  text-align: center;
}

.features-square {
  width: 360px;
  height: 340px;
  padding: 30px;
  background: #2c303a;
  border-radius: 6px;
}

.features-Insquare-title {
  font-size: 1.5rem;
}

.features-Insquare-text {
  color: #b7bbc8;
}

.text-blue {
  color: #0bc0fd;
}

.features-Insquare-button {
  min-width: 100px;
  padding: 10px 10px;
  background: #444857;
  border: solid 1px #444857;
  border-radius: 3px;
  text-align: center;
}

.footer {
  background: black;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-left {
  margin: 30px;
}

.footer-right {
  margin: 30px;
}

.footer-list {
  margin: 10px;
}

.footer-list-title {
  font-weight: 700;
}

.footer-list-text {
  margin-left: 20px;
  color: #aaaebc;
}

.footer-logo {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

.hero-body {
  display: flex;
  flex: wrap;
}

.hero {
  margin-top: 30px;
}

.hero-left {
  width: 50%;
  margin: 16px;
  margin-left: 30px;
}

.hero-right {
  width: 50%;
}

.hero-left-cube {
  margin-top: 30px;
  font-size: 2.5rem;
}

.hero-left-text {
  font-size: 1.1rem;
}

.hero-left-title-setence {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.hero-right-square {
  margin: 16px auto;
  background: linear-gradient(120deg, #4c4f5a, #202125);
  border: solid 1px #3f3f43;
  border-radius: 6px;
  width: 495px;
  height: 410px;
}

.hero-right-mini-square {
  background: #1d1e22;
  border-radius: 6px;
  width: 300px;
  height: 140px;
  margin-bottom: 8px;
}

.mini-square-html {
  position: relative;
  left: 160px;
  bottom: 20px;
}

.mini-square-css {
  position: relative;
  left: 220px;
  bottom: 20px;
}

.mini-square-js {
  position: relative;
  left: 160px;
  bottom: 20px;
}

.hero-left-SignUp {
  font-size: 1.4rem;
  min-width: 100px;
  padding: 10px 10px;
  color: black;
  background: #47cf73;
  border: solid 1px #47cf37;
  border-radius: 3px;
  text-align: center;
}

.header-search {
  background: #252830;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.header-SearchCodePen {
  font-size: 20px;
  font-weight: bold;
  background: #252830;
  width: 100%;
  border: 0;
  padding-left: 1rem;
}

.header-SignUp {
  min-width: 100px;
  padding: 10px 10px;
  margin: 10px;
  color: black;
  background: #47cf73;
  border: solid 1px #47cf37;
  border-radius: 3px;
  text-align: center;
}

.header-LogIn {
  min-width: 100px;
  padding: 10px 10px;
  margin: 10px;
  background: #444857;
  border: solid 1px #444857;
  border-radius: 3px;
  text-align: center;
}

.sidebar-badge {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  color: #b7bbc8;
}

.sidebar-logo {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.sidebar-button {
  text-align: center;
  margin: 0px 20px;
  padding: 10px 0px;
  border: solid 3px;
  background: black;
  border-image: linear-gradient(to right, #49ED49, #e1fd0b, #fd0be1, #0bc0fd, #49ED49) 1;
}

.sidebar {
  background: #1F1F26;
}

.CodePen-badge {
  font-size: 0.8rem;
  color: black;
  background: yellow;
  border: solid 1px yellow;
  border-radius: 3px;
  font-weight: 800;
}

.sidebar-munu-text a {
  display: block;
  padding-left: 16px;
}
.sidebar-munu-text a:hover {
  background: black;
}

.sidebar-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.sidebar-list-top {
  padding-left: 16px;
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  color: yellow;
}

.sidebar-list-mid {
  padding-left: 16px;
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  color: #6ae5b6;
}

.sidebar-list-bottom {
  padding-left: 16px;
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  color: #6ac4e5;
}

.sidebar-list-info {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.sidebar-list-info-color {
  color: #b7bbc8;
}

/*# sourceMappingURL=style.css.map */
