@use '../variable.sass' as v
.card-icon
    position: relative
    left: 16px
    top: 32px

.card-icon-square
    width: 64px
    height: 64px
    background: black
    border-radius: 6px
    font-size: 3rem
    text-align: center

.card-square
    width: 360px
    height: 340px
    padding: 30px
    background: #2c303a
    border-radius: 6px


.card-title
    font-size:1.5rem

.card-text
    color: #b7bbc8

.card-text-blue
    color: v.$light-Blue

.card-button
    min-width: 100px
    padding:10px 10px
    background: #444857
    border: solid 1px #444857
    border-radius: 3px
    text-align: center
