@use '../variable.sass' as v
.features-icon
    position: relative
    left: 16px
    top: 32px

.features-icon-square
    width: 64px
    height: 64px
    background: black
    border-radius: 6px
    font-size: 3rem
    text-align: center

.features-square
    width: 360px
    height: 340px
    padding: 30px
    background: #2c303a
    border-radius: 6px


.features-insquare-title
    font-size:1.5rem

.features-insquare-text
    color: #b7bbc8

.features-text-blue
    color: v.$light-Blue

.features-insquare-button
    min-width: 100px
    padding:10px 10px
    background: #444857
    border: solid 1px #444857
    border-radius: 3px
    text-align: center

.product-item-list-text
    color:#b7bbc8