.html
        width: 300px
        height: 140px
        background-color: #1d1e22
        border-radius: 5px
        position: relative
        top: -20px
        left: 165px

        p
            margin-top: 5px
            margin-left: 5px

            .html-code-1
                color: #a88038
            .html-code-2
                color: #e1ca72
            .html-code-3
                color: #74b087
                padding: 0
            .html-code-4
                color: #a88038
                padding: 0
    
.scss
    width: 300px
    height: 140px
    background-color: #1d1e22
    border-radius: 5px
    position: relative
    top: -13px
    left: 220px

    p
        margin-top: 5px
        margin-left: 5px
        margin-bottom: 0

        .scss-code-1
            color: #e1ca72
        .scss-code-2
            color: #9f8198
            margin-left: 30px
        
    .scss-code
        margin-left: 70px
        font-size: 13px

        .scss-code-1
            color: #e1ca72
        .scss-code-2
            color: #9f8198
        .scss-code-3
            color: #a88038

        .cursor
            

.js
    width:  300px
    height: 140px
    background-color: #1d1e22
    border-radius: 5px
    position: relative
    top: -6px
    left: 165px

    p
        margin-top: 5px
        margin-left: 5px

        .js-code-1
            color: #e1ca72
        .js-code-2
            color: #7a99ad
        .js-code-3
            color: #74b087
            padding: 0