.features
    justify-content: center

.Build-Test, .Learn-Discover, .Share-Your-Work
    background-color: $card-gray
    width: 310px
    height: 320px
    padding: 17px
    margin-top:  70px
    margin-left: 36px
    border-radius: 10px
    @include sm
        margin: 30px auto
        
    
    i
        font-size: 3em
        background-color: $background-color
        padding: 5px 10px
        border-radius: 5px
        position: relative
        top: -40px
        left: 5px

.fa-share
    width: 58px

.features-title
    font-size: 23px
    margin-top: 0
    position: relative
    top: -20px

.features-text
    color: $gray
    margin-top: 0
    margin-bottom: 0
    position: relative
    top: -20px

.features-color-text
    color: #0ebeff