footer
    background-color: $black
    justify-content: space-between
    

.footer-left
    padding: 30px
    padding-bottom: 0
    line-height: 0
    
    li
        color: $gray
        margin-left: 10px
        

.footer-left-text
    margin: 0
    

.footer-right
    text-align: right
    margin-top: 50px
    margin-left: 30px
    margin-right: 35px
    margin-bottom: 50px
    @include sm
        margin-top: 0
        margin-left: 30px
        text-align: left

.footer-right-text
    color: $gray
    margin: 0