@use "../variable" as v

.hero
  margin: 32px

.hero-body
  display: flex
  flex-wrap: wrap

.hero-body-description
  width: 100%
  padding: 32px
  +v.min(sm)
    width: 50%

.hero-body-description-content
  display: block

.hero-logo
  font-size: 36px

.hero-footer .button
  width: 200px
  font-size: 1.4em

.hero-body-description-title
  margin: 0
  font-size: 3rem
  font-weight: 900

.hero-body-description-text
  font-size: 1.1rem

.hero-body-image
  width: 100%
  +v.min(sm)
    width: 50%

