@use '../variable.sass' as v

.hero__left
    padding-left: 10px
    padding-top: 30px
    width:700px

.hero__left--cube
    font-size: 35px

.hero__left--title--setence
    font-size: 40px
    font-weight: 900

.hero__left--cube
    padding-top: 20px
    font-size: 2.5em !important

.square
    background: v.$light-Gray
    border: solid 1px v.$light-Gray
    border-radius: 3px
    width: 500px
    height: 400px
