@use '../variable.sass' as v

.sidebar-badge       
    margin:0
    font-size: 0.8rem
    text-align: center
    color: #b7bbc8

.sidebar-logo
    font-size: 2rem
    text-align: center
    font-weight: 700

.sidebar-button
    text-align: center
    margin: 0px 20px
    padding: 10px 0px
    border: solid 3px 
    background: black
    border-image: linear-gradient(to right, v.$light-Green ,v.$light-Yellow,v.$light-purple,v.$light-Blue,v.$light-Green ) 1
