@use '../variable.sass' as v

.sidebar
    background: v.$sidebar-color

.CodePen-badge
    font-size: 0.8rem
    color: black
    background: yellow
    border: solid 1px yellow
    border-radius: 3px
    font-weight: 800

.sidebar-munu-text
    a
        display: block
        padding-left: 16px
    a:hover
        background: black


.sidebar-list
    margin-left: 0
    padding-left: 0
    list-style-type: none

.sidebar-list-top
    padding-left: 16px
    padding-bottom: 0.2rem
    font-size: v.$sidebar-font-size
    color: yellow

.sidebar-list-mid
    padding-left: 16px
    padding-bottom: 0.2rem
    font-size: v.$sidebar-font-size
    color:  #6ae5b6

.sidebar-list-bottom
    padding-left: 16px
    padding-bottom: 0.2rem
    font-size: v.$sidebar-font-size
    color:  #6ac4e5

.sidebar-list-info
    margin-left: 0
    padding-left: 0
    list-style-type: none

.sidebar-list-info-color
    color: #b7bbc8