.sidebar 
  background: #1F1F26 
  @media (max-width: 576px) 
    .sidebar 
      display: none  

.sidebar-menu a 
  display: block
  padding-left: 16px 

.sidebar-menu a:hover 
  background: black 

.sidebar-menu-title 
  font-size: .8rem
  margin-bottom: .2rem
  margin-left: 16px 

.sidebar-menu-sub-list 
  margin-bottom: 16px 
