@use '../variable.sass' as v
@use '../mixin.sass' as m


.sidebar
    background: v.$sidebar-color
    @include m.sm-max
        display: none

.sidebar-munu
    a
        display: block
        padding-left: 16px
    a:hover
        background: black


.sidebar-list
    margin-left: 0
    padding-left: 0
    list-style-type: none

.sidebar-list-sub-title
    padding-left: 16px
    padding-bottom: 0.2rem
    font-size: v.$sidebar-font-size


