@use '../variable.sass' as v
@use '../mixin.sass' as m

.yellow-text
    color: yellow

.light-green-text
    color:  #6ae5b6

.blue-text
    color:  v.$light-Blue

.gray-text
    color: #b7bbc8

.bold-text
    font-weight: 900

.light-bold-text
    font-weight: 700

.light-orange-text
    color:#a88038

.light-yellow-text
    color:#e1ca72

.text-green
    color:#74b087

.light-purpule-text
    color:#9f8198

.light-blue-text
    color:#7a99ad

.title
    width: 50%
    padding:32px
    @include m.sm-max
        width: 100%
    .button
        margin-left: 8px
        min-width:100px
        padding:10px

.subtitle-text
    font-size: 1.1rem

.title-text
    font-size: 3rem
    font-weight: 900
    margin: 0

.blink-text
    animation: blink 1s infinite
@keyframes blink
    0%
        opacity:  0
    50%
         opacity: 0
    50%
        opacity:  1
    100%
         opacity: 1
